<% provide(:title, 'Carta') %>

<% content_for :header_seccio do %>
	<div class="container">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to carta_path(:mode => "list"), :class => "btn", :id => "icon-th-list" do %>
					<i class="icon-th-list"></i>
				<% end %>
			</div>
			<div class="btn-group" data-toggle="buttons-radio">
				<%= link_to carta_path(:mode => "thumbs"), :class => "btn", :id => "icon-th" do %>
					<i class="icon-th"></i>
				<% end %>
				<%= link_to carta_path(:mode => "thumbs-large"), :class => "btn", :id => "icon-th-large" do %>
					<i class="icon-th-large"></i>
				<% end %>
			</div>
			<div class="btn-group" data-toggle="buttons-radio">
				<% @categories.each do |c| %>
					<%= link_to c.nom, carta_path(:mode => @mode, :anchor => c.nom), :class => "btn" %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<% if @mode != 'list' %>

	<% @categories.each do |c| %>
		
		<a name="<%= c.nom %>" style="height:80px; display:block;"></a>
		<h3><%= c.nom %></h3>

		<ul class="thumbnails">

		<% c.plats.each_with_index do |p, index| %>

		<% if @mode == 'thumbs' %>
		  <li class="span4 plat">
		<% else %>
		  <li class="span6 plat">
		<%	end	%>
		    <div class="thumbnail">
		      <%= image_tag(p.foto, :alt => p.nom, :class=>"img-rounded") %>
		      <div class="caption">
		        <h3 style="height:80px; font-size:1.5rem;"><%= p.nom %></h3>
		        <p><%= simple_format truncate(p.descripcio, :length => 100, :separator => " ") %></p>
		        <p><%= link_to "Veure el plat", p, class: "btn btn-success" %>
		        	<button class="btn"><%= number_with_precision(p.preu, :precision => 2) %> €</button>
		        	<div class="fb-like" data-href="<%= plat_url(p) %>" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>
		       	</p>
		      </div>
		    </div>
		  </li>
		  
		  <%	end	%>

		</ul>

	<%	end	%>

<% else %>

	<% @categories.each do |c| %>

		<a name="<%= c.nom %>" style="height:80px; display:block;"></a>
		<h3><%= c.nom %></h3>

		<div class="accordion" id="accordion<%= c.id %>">

		<% c.plats.each_with_index do |p, index| %>
		
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%= c.id %>" data-target="#collapse<%= p.id %>">
		        <%= p.nom %>
		      </a>
		    </div>
		    <div id="collapse<%= p.id %>" class="accordion-body collapse">
		      <div class="accordion-inner media">
		      	<div class="pull-left"><%= image_tag(p.foto, :alt => p.nom, :size=>"100x100", :class=>"img-rounded media-object") %></div>
		      	<div class="media-body">
			        <%= simple_format p.descripcio %><br /><br />
			        <%= link_to "Veure el plat", p, class: "btn btn-success" %><button class="btn"><%= number_with_precision(p.preu, :precision => 2) %> €</button>
			        <div class="fb-like" data-href="<%= plat_url(p) %>" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>
			    </div>
		      </div>
		    </div>
		  </div>
		
		<%	end	%>

		</div>

	<%	end	%>

<%	end	%>
