<% provide(:title, 'Restaurant Touchies') %>

<% if user_signed_in? %>

	
	<div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag("Divinic01p.jpg") %>
            <div class="carousel-caption">
              <h4>Third Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag("Divinic02p.jpg") %>
            <div class="carousel-caption">
              <h4>Third Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag("Divinic03p.jpg") %>
            <div class="carousel-caption">
              <h4>Third Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag("Divinic04p.jpg") %>
            <div class="carousel-caption">
              <h4>Third Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
  </div>

  <div class="container">
	  <div class="row">
	    <div class="span4">
	    	<%= image_tag("http://distilleryimage6.s3.amazonaws.com/2864ccbc319811e2b8e822000a1fbcc7_7.jpg", :width => '60%', :style => "margin-left:20%", :class => "img-rounded") %>
	      <h2>Heading</h2>
	      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
	      <p><a class="btn" href="#">View details &raquo;</a></p>
	    </div><!-- /.span4 -->
	    <div class="span4">
	      <%= image_tag("pressec.jpg", :width => '60%', :style => "margin-left:20%", :class => "img-rounded") %>
	      <h2>Heading</h2>
	      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	      <p><a class="btn" href="#">View details &raquo;</a></p>
	    </div><!-- /.span4 -->
	    <div class="span4">
	      <%= image_tag("enoturisme.jpg", :width => '60%', :style => "margin-left:20%", :class => "img-rounded") %>
	      <h2>Heading</h2>
	      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	      <p><a class="btn" href="#">View details &raquo;</a></p>
	    </div><!-- /.span4 -->
	  </div>
</div>
	

<% else %>
	<div class="center hero-unit">
	    <h1>Restaurant Touchies</h1>

	    <h2>
	      <!--Gestiona el dia a dia del teu restaurant sense complicar-te la vida.-->
	      Benvinguts a la nostra pàgina. Per poder accedir t'has de donar d'alta com a usuari.
	    </h2>

	    <%= link_to "Donar-se d'alta", new_user_registration_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>