<% provide(:title, @plat.nom) %>
<% provide(:image, @plat.foto) %>
<% provide(:description, @plat.descripcio) %>

<h1><%= @plat.nom %></h1>
<p><%= simple_format @plat.descripcio %></p>
<p style="text-align:center;"><%= image_tag(@plat.foto, :alt => @plat.nom) %></p>

<div class="fb-like" data-href="<%= plat_url(@plat) %>" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>
