<!DOCTYPE html>
<html>
    <head>
      <title><%=  yield(:title) %></title>
     <%= stylesheet_link_tag    "application", :media => "all" %>
     <%= javascript_include_tag "application" %>
     <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:title" content="<%=  yield(:title) %>"/>
    <meta property="og:image" content="<%=  yield(:image) %>"/>
    <meta property="og:site_name" content="<%=  yield(:title) %>"/>
    <meta property="og:description" content="<%=  yield(:description) %>"/>
  
     
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=261712503942401";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <header>
        <header class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <%= link_to "RESTAURANT TOUCHIES", root_path, id: "logo" %>
              <nav>
                <ul class="nav pull-right">
                    <li><%= link_to "Carta", carta_path %></li>
                    <li><%= link_to "About", about_path %></li>
                    <% if user_signed_in? %>
                      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                    <% else %>
                      <li><%= link_to "Sign in", new_user_session_path, :method => :get %></li>
                    <% end %>
                </ul>
              </nav>
            </div>

            <%= yield :header_seccio %>

          </div>
        </header>
        <div class="container">
            <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
            <% end %>
            <%= yield %>
        </div>
    </body>
</html>